.btn-animated {
  position: relative;
  display: inline-block;
  overflow: hidden;

  transition: color 0.5s ease-in-out;
}

.btn-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fffffd26;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.btn-animated:hover {
  color: #ffffff;
}

.btn-animated:hover::before {
  transform: translateX(0);
}
