.text-container {
  position: relative;
  margin:1rem;
  z-index: 10;
  display: inline-block;
  height: 1rem; /* Adjust according to your font size */
  
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: fit-content; /* Ensure full width alignment */
}

.letter {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  overflow: hidden;
}

.first-text {
  z-index: 0;
  overflow: hidden;
}

.second-text {
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

.second-text .letter {
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
  
}
