.home-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.home {
  --duration: 0.44s;
  font-size: 1.125rem;
  color: white;
  display: inline-flex;
  line-height: 1;
}

.home span {
  display: block;
  transition: transform var(--duration) ease;
  transform: translateY(0);
}

.home.second {
  position: absolute;
  top: 100%;
  left: 0;
}

.home span:nth-child(1) {
  transition-delay: 0.05s;
}
.home span:nth-child(2) {
  transition-delay: 0.1s;
}
.home span:nth-child(3) {
  transition-delay: 0.15s;
}
.home span:nth-child(4) {
  transition-delay: 0.2s;
}
.home span:nth-child(5) {
  transition-delay: 0.25s;
}
.home span:nth-child(6) {
  transition-delay: 0.3s;
}
.home span:nth-child(7) {
  transition-delay: 0.35s;
}
.home span:nth-child(8) {
  transition-delay: 0.4s;
}
.home span:nth-child(9) {
  transition-delay: 0.45s;
}
.home span:nth-child(10) {
  transition-delay: 0.5s;
}
.home span:nth-child(11) {
  transition-delay: 0.55s;
}
.home span:nth-child(12) {
  transition-delay: 0.6s;
}

.home-wrapper:hover .home.first span {
  transform: translateY(-100%);
}

.home-wrapper:hover .home.second span {
  transform: translateY(-100%);
}
