.text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align:bottom;
}

.text {
  --duration: 0.44s;
  font-size: 6rem ;
  color: white;
  display: inline-flex;
  line-height:0.75 ;
  cursor:pointer;
}

.text span {
  display: block;
  transition: transform var(--duration) ease;
  transform: translateY(0);
}

.text.second {
  position: absolute;
  top: 100%;
  left: 0;
}

.text span:nth-child(1) { transition-delay: 0.05s; }
.text span:nth-child(2) { transition-delay: 0.1s; }
.text span:nth-child(3) { transition-delay: 0.15s; }
.text span:nth-child(4) { transition-delay: 0.2s; }
.text span:nth-child(5) { transition-delay: 0.25s; }
.text span:nth-child(6) { transition-delay: 0.3s; }
.text span:nth-child(7) { transition-delay: 0.35s; }
.text span:nth-child(8) { transition-delay: 0.4s; }
.text span:nth-child(9) { transition-delay: 0.45s; }
.text span:nth-child(10) { transition-delay: 0.5s; }
.text span:nth-child(11) { transition-delay: 0.55s; }
.text span:nth-child(12) { transition-delay: 0.6s; }

.text-wrapper:hover .text.first span {
  transform: translateY(-100%);
}

.text-wrapper:hover .text.second span {
  transform: translateY(-100%);
}
@media (max-width: 768px) { 
  .text {
    font-size: 5rem !important;
    
  }
}

@media (max-width: 640px) { 
  .text {
    font-size: 3rem !important;
    
  }
}